ClienteWebConverTemps/src/conf/xml-resources/web-service-references/SWConvertTemps/wsdl/localhost_8080/WSTemperatura/SWConvertTemps.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://jaxws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jaxws/">

<xs:element name="ConvCentAFahr" type="tns:ConvCentAFahr"/>

<xs:element name="ConvCentAFahrResponse" type="tns:ConvCentAFahrResponse"/>

<xs:element name="ConvFahrACent" type="tns:ConvFahrACent"/>

<xs:element name="ConvFahrACentResponse" type="tns:ConvFahrACentResponse"/>

<xs:complexType name="ConvFahrACent">
<xs:sequence>
<xs:element name="gFahr" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConvFahrACentResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConvCentAFahr">
<xs:sequence>
<xs:element name="gCent" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConvCentAFahrResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>